local-phpinfo.php
.htaccess
.DS_Store
node_modules
ai1wm-backups
wp-config.php
wp-content/mu-plugins/local-by-flywheel-live-link-helper.php
wp-content/uploads
wp-content/cache
wp-content/debug.log
#wp-content/plugins/*
#!wp-content/plugins/user-messages/
#!wp-content/plugins/user-mgmt.php
#wp-includes
#wp-admin
#index.php
#wp-activate.php
#wp-blog-header.php
#wp-comments-post.php
#wp-config-sample.php
#wp-cron.php
#wp-links-opml.php
#wp-load.php
#wp-login.php
#wp-mail.php
#wp-settings.php
#wp-signup.php
#wp-trackback.php
#xmlrpc.php
