html,
body,
button,
input,
select,
optgroup,
textarea,
p {
	font-size: 15px;
	color: black;
	font-family: 'Poppins';
  	font-weight: 400;
	line-height: 160%;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 120%;
}

dfn, i, em, .italic  {
	font-style: italic;
}

b, strong {
	font-weight: bold!important;
}


